

nav{
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  color: white;
  background: rgb(20, 41, 63);

}
.nav-links{
 width: 40%;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
}
